@model List<GenreVM>
@{
    ViewData["Title"] = "Index";
}

<div class="col-md-12">
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">List of Genre</h3>
        </div>
        <div class="card-body">
            <table class="table table-hover table-bordered">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var genre in Model)
                    {
                        <tr>
                            <td>@genre.Id</td>
                            <td>@genre.Name</td>
                            <td>
                                <a asp-area="Admin" asp-controller="Genre" asp-action="Update" asp-route-id="@genre.Id" class="btn btn-sm btn-warning">Update</a>
                                <a asp-area="Admin" asp-controller="Genre" asp-action="Delete" asp-route-id="@genre.Id" class="btn btn-sm btn-danger">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Actions</th>
                    </tr>
                </tfoot>
            </table>
        </div>
        <div class="card-footer">
            <a asp-action="Create" class="btn btn-block btn-dark">Create Genre</a>
        </div>
    </div>
</div>

